REGISTRY_PREFIX=docker.io
POSTGRES_DB=mnext
POSTGRES_USER=mnext
POSTGRES_PASSWORD=mnext
MINIO_ROOT_USER=mnext
MINIO_ROOT_PASSWORD=mnext-local-secret
RABBITMQ_DEFAULT_USER=mnext
RABBITMQ_DEFAULT_PASS=mnext
